/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

/*
<div class="article__link">
<p class="body>
<div></div>
</p>
</div>

*/

.article {

  &__link {
    &:hover {

     }
   }
  .body {
    color: red;
  }

  div {
    height: 100px;
  }
}

.article__link {
  border-radius: 5px;
}

.article__link:hover {

}

.article .body {
  color: red
}

.article div {
  height: 100px;
}
