.idea/
.docker-sync/
mutagen.yml.lock

mariadb-init/*.sql
mariadb-init/*.sql.gz

vendor
web/core/
web/libraries/
web/modules/contrib/
web/profiles/contrib/
web/themes/contrib/
web/themes/custom/mygov_theme/css/
web/sites/default/files
