
 h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
  }


  body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
 }



div {
    /* Front Page */

    .news-block-col {
        margin-bottom: 25px;
    }

    .front-page-event-title {
        text-align: center;
        margin-top:50px;
    }

    .front-page-event-img {
        margin-top:15px;
        margin-left: auto;
        margin-right: auto;
        width:60%;   
    }

    .owl-slider-wrapper {
        margin-bottom: 50px;
    }

    /* News Teaser Page */

    .view-id-news {
        img {
            margin-left: auto;
            margin-right:auto;
            width:100%;
            margin-bottom:8%;
            max-width:75%;
        }
        .news-col {
            width: 100%;
            overflow: hidden;
            margin-bottom: 20px;
        }
         .newspage-title {
            width: 60%;
            float:left;
            margin-left: auto;
            text-align:left;
         }
    
         .newspage-body {
            width: 60%;
            float:left;
            margin-left: auto;
            text-align: left;
         }
    
         .newspage-img {
            width: 40%;
            float:right;
            margin-right: auto
        }
    }

    /* Officials Teaser Page */

    .view-officials-page {
        img {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
        }

        .officials-col {
            width:33%;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 10px;
            .links, h3 {
                text-align: center;
            }
      
        }

        .official-teaser-img {
            width: 250px;
            float:left;
            margin-right: 10px;
            margin-bottom: 10px;
        }
        
    }

    /* Officials Page */

    .officials {
        width: 100%;
        overflow: hidden;

        .official-img {
            width: 20%;
            float:left;
            margin-right: 10px;
            margin-bottom: 20px;
        }

        .official-position-held {
            width: 75%;
            margin-bottom: 20px;
        }

        .official-description {
            width : 75%;
            float: left;
        
        }




    }

    /* News Page */
    .news-img {
            margin-bottom: 20px;            
    }


}

