
 h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
  }


  body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
 }



div {
    .news-block-col {
        margin-bottom: 25px;
    }

    .front-page-event-title {
        text-align: center;
        margin-top:50px;
    }

    .front-page-event-img {
        margin-top:15px;
        margin-left: auto;
        margin-right: auto;
        width:60%;   
    }

    .owl-slider-wrapper {
        margin-bottom: 50px;
    }

    .news-col {
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px;
    }
     .newspage-title {
        width: 60%;
        float:left;
        margin-left: auto;
        text-align:left;
     }

     .newspage-body {
        width: 60%;
        float:left;
        margin-left: auto;
        text-align: left;
     }

     .newspage-img {
        width: 40%;
        float:right;
        margin-right: auto
    }

    .view-id-news {
        img {
            margin-left: auto;
            margin-right:auto;
            width:100%;
            margin-bottom:8%;
            max-width:75%;
        }
    }

}

