.colored-section {
    background-color: #f8f8f8;
  }
  
  .white-section {
    background-color: #fff;
  }
  

/* Call to action */

.call-to-action {
    display: flex;
    margin-bottom: 250px;
    padding-bottom:50px;
    padding-left:50px;
}

.cta-text {
    float: left;
    flex: 60%;
    width: 100%;
    overflow: auto;

}


.call-to-action-img {
    float: right;
    width: 60%;
    right: 30%;
    padding: 20px;

}


.call-to-action-img img{
    width:60%;
}

.ctaimg1 {
    float: right;
    position: relative;
    top: 0;
    left: 115px;
}

.ctaimg2 {
    position: absolute;
    top: 37%;    
    left: 65%;    
    transform: translate(-39%, -120%);
 
}

.cta-button {
    margin:15px;

}

.calltoaction {
  margin-bottom: 30px;

  p {
    font-size:30px;
    font-weight: 600;
  }
}

/* MyGov Information */
.mygov-info {
    display: flex;
    padding: 20px
}

.companyinfo {
  padding: 20px;
}

.companyinfo2 {
  padding: 20px;
}

.company_image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    padding: 20px;
}

.companyimage2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    padding: 20px;
}


/* Features */

#features {
    position: relative;
    text-align: center;
  }
  
  .feature-title {
    font-size: 1.5rem;
  }
  
  .feature-box {
    padding: 4.5%;
  }
  
  .icon {
    color:  #343434;
    margin-bottom: 1rem;
  }
  
  .icon:hover {
    color: #C0C0C0;
  } 